#  1. Deploy to the developer environment 
  deploy-dev: 
    runs-on: ubuntu-latest 
    environment: DEV 
    steps: 
      # Checkout the source code 
      - name: Checkout code 
        uses: actions/checkout@v3 
 
      #  Set up the Java environment 
      - name: Setup JDK 
        uses: actions/setup-java@v3 
        with: 
          distribution: 'temurin' 
          java-version: '17' 
           
      # Build and Test the application 
      # We use 'clean install -DskipTests' to build, and then run tests separately. 
      # However, since you are running validation, compile, test, and package separately,  
      # we can combine them into a single command for efficiency. 
      - name: Build and Package WAR 
        run: mvn clean package -DskipTests 
       
      - name: Deploy to DEV Tomcat 
        run: | 
           curl -v -u ${{ secrets.TOMCAT_USER_DEV }}:${{   
secrets.TOMCAT_PASSWORD_DEV }} \ 
            -T target/TrainBook-1.0.0-SNAPSHOT.war \ 
           "http://${{ secrets.TOMCAT_HOST_DEV   
}}:8080/manager/text/deploy?path=/TrainBook&update=true" 
 
# 2 Deploy to the tester environment 
  deploy-test: 
           runs-on: ubuntu-latest 
           needs: deploy-dev 
9 | Page   
           environment: TEST 
           steps: 
                   - name: Checkout code 
               uses: actions/checkout@v3 
             - name: Setup JDK 
               uses: actions/setup-java@v3 
               with: 
                distribution: 'temurin' 
                java-version: '17' 
       
             - name: Build and Package WAR 
               run: mvn clean package -DskipTests 
       
             - name: Deploy to TEST Tomcat 
               run: | 
                  curl -v -u ${{ secrets.TOMCAT_USER_TEST }}:${{ 
secrets.TOMCAT_PASSWORD_TEST }} \ 
                  -T target/TrainBook-1.0.0-SNAPSHOT.war \ 
                  "http://${{ secrets.TOMCAT_HOST_TEST 
}}:8080/manager/text/deploy?path=/TrainBook&update=true" 
 
# 3 Deploy to the pre-production environment 
  deploy-preprod: 
      runs-on: ubuntu-latest 
      needs: deploy-test 
      environment: PRE-PROD 
      steps: 
        - name: Checkout code 
          uses: actions/checkout@v3 
 
       
        - name: Setup JDK 
          uses: actions/setup-java@v3 
          with: 
            distribution: 'temurin' 
            java-version: '17' 
           
        - name: Build and Package WAR 
          run: mvn clean package -DskipTests 
 
        - name: Deploy to PRE-PROD  Tomcat 
          run: | 
10 | Page   
            curl -v -u ${{ secrets.TOMCAT_USER_PREPROD }}:${{ 
secrets.TOMCAT_PASSWORD_PREPROD }} \ 
            -T target/TrainBook-1.0.0-SNAPSHOT.war \ 
            "http://${{ secrets.TOMCAT_HOST_PREPROD 
}}:8080/manager/text/deploy?path=/TrainBook&update=true" 
 
 #  4 Deploy to the pre-production environment 
  deploy-prod: 
      runs-on: ubuntu-latest 
      needs: deploy-preprod 
      environment: PROD 
      steps: 
        - name: Checkout code 
          uses: actions/checkout@v3 
 
        - name: Setup JDK 
          uses: actions/setup-java@v3 
          with: 
            distribution: 'temurin' 
            java-version: '17' 
        - name: Build and Package WAR 
          run: mvn clean package -DskipTests 
 
        - name: Deploy to PROD  Tomcat 
          run: | 
            curl -v -u ${{ secrets.TOMCAT_USER_PROD }}:${{ 
secrets.TOMCAT_PASSWORD_PROD }} \ 
            -T target/TrainBook-1.0.0-SNAPSHOT.war \ 
            "http://${{ secrets.TOMCAT_HOST_PROD 
}}:8080/manager/text/deploy?path=/TrainBook&update=true" 
