name: Tomcat Multi-Environment Deployment

on:
  push:
    branches:
      - dev
      - test
      - preprod
      - main
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # NO SONARQUBE AT ALL
      - name: Build WAR
        run: mvn -B clean package

      - name: Upload WAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: warfile
          path: target/*.war


  # ---------------------------------------------------
  # ---------------------- DEV -------------------------
  # ---------------------------------------------------
  deploy_dev:
    needs: build
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    environment: TOMCAT_DEV

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: warfile

      - name: Deploy to DEV Tomcat
        run: |
          WAR_FILE=$(ls *.war)
          echo "Deploying $WAR_FILE to DEV..."

          curl -s -u "${{ secrets.TOMCAT_USER_DEV }}:${{ secrets.TOMCAT_PASSWORD_DEV }}" \
            "http://${{ secrets.TOMCAT_HOST_DEV }}/manager/text/undeploy?path=/train-dev"

          curl -s -u "${{ secrets.TOMCAT_USER_DEV }}:${{ secrets.TOMCAT_PASSWORD_DEV }}" \
            -T "$WAR_FILE" \
            "http://${{ secrets.TOMCAT_HOST_DEV }}/manager/text/deploy?path=/train-dev&update=true"


  # ---------------------------------------------------
  # ---------------------- TEST ------------------------
  # ---------------------------------------------------
  deploy_test:
    needs: build
    if: github.ref == 'refs/heads/test'
    runs-on: ubuntu-latest
    environment: TOMCAT_TEST

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: warfile

      - name: Deploy to TEST Tomcat
        run: |
          WAR_FILE=$(ls *.war)
          echo "Deploying $WAR_FILE to TEST..."

          curl -s -u "${{ secrets.TOMCAT_USER_TEST }}:${{ secrets.TOMCAT_PASSWORD_TEST }}" \
            "http://${{ secrets.TOMCAT_HOST_TEST }}/manager/text/undeploy?path=/train-test"

          curl -s -u "${{ secrets.TOMCAT_USER_TEST }}:${{ secrets.TOMCAT_PASSWORD_TEST }}" \
            -T "$WAR_FILE" \
            "http://${{ secrets.TOMCAT_HOST_TEST }}/manager/text/deploy?path=/train-test&update=true"


  # ---------------------------------------------------
  # -------------------- PRE-PROD ----------------------
  # ---------------------------------------------------
  deploy_preprod:
    needs: build
    if: github.ref == 'refs/heads/preprod'
    runs-on: ubuntu-latest
    environment: TOMCAT_PRE_PROD

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: warfile

      - name: Deploy to PRE-PROD Tomcat
        run: |
          WAR_FILE=$(ls *.war)
          echo "Deploying $WAR_FILE to PREPROD..."

          curl -s -u "${{ secrets.TOMCAT_USER_PRE_PROD }}:${{ secrets.TOMCAT_PASSWORD_PRE_PROD }}" \
            "http://${{ secrets.TOMCAT_HOST_PRE_PROD }}/manager/text/undeploy?path=/train-preprod"

          curl -s -u "${{ secrets.TOMCAT_USER_PRE_PROD }}:${{ secrets.TOMCAT_PASSWORD_PRE_PROD }}" \
            -T "$WAR_FILE" \
            "http://${{ secrets.TOMCAT_HOST_PRE_PROD }}/manager/text/deploy?path=/train-preprod&update=true"


  # ---------------------------------------------------
  # ---------------------- PROD ------------------------
  # ---------------------------------------------------
  deploy_prod:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: TOMCAT_PROD

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: warfile

      - name: Deploy to PROD Tomcat
        run: |
          WAR_FILE=$(ls *.war)
          echo "Deploying $WAR_FILE to PROD..."

          curl -s -u "${{ secrets.TOMCAT_USER_PROD }}:${{ secrets.TOMCAT_PASSWORD_PROD }}" \
            "http://${{ secrets.TOMCAT_HOST_PROD }}/manager/text/undeploy?path=/train-prod"

          curl -s -u "${{ secrets.TOMCAT_USER_PROD }}:${{ secrets.TOMCAT_PASSWORD_PROD }}" \
            -T "$WAR_FILE" \
            "http://${{ secrets.TOMCAT_HOST_PROD }}/manager/text/deploy?path=/train-prod&update=true"
