name: Build and Deploy Application to Tomcat

on:
  push:
    branches:
      - master   # DEV deployment
  workflow_dispatch:   # Optional manual trigger

jobs:
  # ---------------- DEV Deployment ----------------
  deploy-dev:
    runs-on: ubuntu-latest
    environment: DEV
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - run: mvn clean package -DskipTests

      - name: Deploy to DEV Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_DEV }}:${{ secrets.TOMCAT_PASSWORD_DEV }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_DEV }}:8080/manager/text/deploy?path=/TrainBook&update=true"

  # ---------------- TEST Deployment ----------------
  deploy-test:
     runs-on: ubuntu-latest
     needs: build-and-deploy-dev   # or deploy-dev, but that job MUST upload the artifact
     environment: TEST
     steps:
      - name: Download WAR artifact from DEV build
        uses: actions/download-artifact@v4
        with:
           name: trainbook-war
           path: target/

      - name: Deploy to TEST Tomcat
        run: |
          ls -R
          file target/TrainBook-1.0.0-SNAPSHOT.war || echo "WAR not found"
          curl -v -u ${{ secrets.TOMCAT_USER_TEST }}:${{ secrets.TOMCAT_PASSWORD_TEST }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_TEST }}:8080/manager/text/deploy?path=/TrainBook&update=true"


  # ---------------- PRE-PROD Deployment ----------------
  deploy-preprod:
    runs-on: ubuntu-latest
    needs: deploy-test
    environment: PRE-PROD
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - run: mvn clean package -DskipTests

      - name: Deploy to PRE-PROD Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_PRE_PROD }}:${{ secrets.TOMCAT_PASSWORD_PRE_PROD }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_PRE_PROD }}:8080/manager/text/deploy?path=/TrainBook&update=true"

  # ---------------- PROD Deployment (Manual Approval) ----------------
  deploy-prod:
    runs-on: ubuntu-latest
    needs: deploy-preprod
    if: github.ref == 'refs/heads/master'
    environment:
      name: PROD   # Requires manual approval
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - run: mvn clean package -DskipTests

      - name: Deploy to PROD Tomcat
        run: |
          curl -v -u ${{ secrets.TOMCAT_USER_PROD }}:${{ secrets.TOMCAT_PASSWORD_PROD }} \
          -T target/TrainBook-1.0.0-SNAPSHOT.war \
          "http://${{ secrets.TOMCAT_HOST_PROD }}:8080/manager/text/deploy?path=/TrainBook&update=true"
